@page "/dash-paciente/exames"
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Paciente")]
@inject NavigationManager Navigation

<h1>Meus Exames</h1>

