@page "/login"
@using ProjetoIntegrador.Models
@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation
@using ProjetoIntegrador.Services
@inject AuthService AuthService

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <!-- Email -->
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="loginModel.Email" />
    </div>

    <!-- Senha -->
    <div class="form-group">
        <label for="senha">Senha</label>
        <InputPassword id="senha" class="form-control" @bind="loginModel.Password" />
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
</EditForm>

@if (loginFailed)
{
    <div class="alert alert-danger mt-3">
        Credenciais inválidas. Tente novamente.
    </div>
}

@code {
    private LoginModel loginModel = new LoginModel();
    private bool loginFailed = false;

    private async Task HandleLogin()
    {
        var result = await AuthService.Login(loginModel.Email, loginModel.Password);

        if (result)
        {
            Navigation.NavigateTo("/"); // Redireciona para a página inicial após login
        }
        else
        {
            loginFailed = true; // Exibe a mensagem de erro se o login falhar
        }
    }

    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
